/*************Start MY FRAMEWORK*************************/
*{
    font-family: 'PT Serif', serif;
    box-sizing: border-box;
}

body{
    margin: 0
}

.container{
    width: 100%;
    margin: auto 0;
    overflow: hidden
}

.left{float:left}
.right{float: right}
.clearfix{clear:both}
h2{
    font-weight: 500;
    color: #365a76
}
p{
    color: #585858;
    margin-top: 40px;
    line-height: 2;
    font-size: 18px;
    word-spacing: 4px
}

h2{
    font-size: 40px;
}

h2:after{
	content: "";
    display: block;
    width: 6%;
    height: 4px;
	background-color:#e1c653;
}
hr{
    width: 67%;
    border-top: 1px solid #eee;
    position: absolute;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?d3rp4');
  src:  url('fonts/icomoon.eot?d3rp4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?d3rp4') format('truetype'),
    url('fonts/icomoon.woff?d3rp4') format('woff'),
    url('fonts/icomoon.svg?d3rp4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkbox-checked:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
    color: #e1c653;
}
.icon-location2:before {
  content: "\e948";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-mail3:before {
  content: "\ea85";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}

.icon, .social .icon:hover, .up .icon:hover{color: #e1c653;}

/*********************END MY FRAMEWORK*********************/

/*********************START HEADER*********************/

#menu li{display: none}
header, .header-services{
    display: flex;
    letter-spacing: 1px;
    padding: 45px 30px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background: linear-gradient(rgba(30, 106, 184, 0.78),rgba(30, 106, 184, 0.78)),url(../images/about_bg.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom center;
}

.header-services{
    background: linear-gradient(rgba(30, 106, 184, 0.78),rgba(30, 106, 184, 0.78)),url(../images/services_bg.jpg) no-repeat center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header span, .header-services span{
    color: #fff;
}
.h2{
    font-size: 36px;
    padding-right: 10px;
    height: 34px;
    line-height: 34px;
    color: #fff
}
.logo{
    font-size: 15px;
    line-height: 18px;
    border-left: 2px solid;
    padding-left: 6px;
    color: #fff
}

/*********************END HEADER*********************/

/*********************START NAVBAR*********************/
.navbar{
    width: 15%;
    background: #fbfbfb;
    border-right: 1px solid #ebebeb;
    position: fixed;
    height: 100%;
}

.navbar ul {
    margin-top: 200px ;
    list-style:none;
}
.navbar ul li {
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 15px
}

.active::after{
	content: "";
    display: block;
    width: 100%;
    height: 4px;
	background-color:#e1c653;
}

a{
    text-decoration: none;
    color: #585858;
}

.navbar a:hover{
    color: #365a76;
    font-weight: 600;
}

.active a{
    color: #365a76;
    font-weight: 600;
}

.header-services .social .icon, header .social .icon{
    color: #999;
    cursor: pointer;
    padding: 0 10%
}

.social{
    left: 0;
    bottom: 0;
    position: fixed;
    width: 15%;
    margin-bottom: 50px;
}
/*********************END NAVBAR*********************/

/*********************START CONTENT*********************/

.about, .services{
    width: 85%;
}

.about .container, .services .container{
    margin: 0 auto;
    width: 80%
}
.mission, .intro{
    margin-top: 200px;
    margin-bottom: 50px
}
.row {
    overflow: hidden;
    margin-bottom: 50px
}
.point{
    width: 50%;
}
.point_services{
    width: 70%;
    overflow: auto
}
.point span, .point_services span{
    display: block;
    margin-right: 40px;
    margin-top: 60px;
    text-indent: -100px;
    width:  60px;
    height: 60px;
}
.point .pic_one span{
    background-image: url(../images/aboutus_sprite.png);
    background-position: 0 0;
}
.point .pic_two span{
    background-image: url(../images/aboutus_sprite.png);
    background-position: 60px 0px;
}
.point .pic_three span{
    background-image: url(../images/aboutus_sprite.png);
    background-position: 180px 0px;
}
.point .pic_four span{
    background-image: url(../images/aboutus_sprite.png);
    background-position: 119px 0px;
}
.point p{
    width: 75%;
    padding-right: 30px;
}

.task p{
    width: 60%
}

.online{
    width: 33%;
    border: 1px solid #ddd;
    overflow: hidden;
    padding: 5%;
    margin-bottom: 100px;
    text-align: center
}

.online h3{
    width: 70%;
    font-weight: 500;
    color: #365a76;
    font-size: 18px
}

.online span{
    width:  45px;
    height: 40px;
    margin-top: 10px
}

.online .pic-five{
    background-image: url(../images/aboutus_sprite.png);
    background-position: 0px 39px;
}
.online .pic-six{
    background-image: url(../images/aboutus_sprite.png);
    background-position: -50px 39px;
}
.online .pic-seven{
    background-image: url(../images/aboutus_sprite.png);
    background-position: -90px 39px;
}
/*********************END CONTENT*********************/


/*********************START FOOTER*********************/

footer{
    background-color: #fefefe;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 50px 0;
    overflow: auto
}
footer .container{
    margin: 0 auto;
    width: 80%;
    overflow: auto
}
footer h2{display: none}
footer .part{
    width: 33%;
    padding: 20px 20px 0 0;
}
footer .part .icon{
    width: 10%;
    margin-top: 10px;
    font-size: 25px;
    margin-right: 10px
}

footer .part h3{
    color: #585858;
    font-size: 20px;
    width: 80%;
    font-weight: 100;
    margin-top: 0px;
    line-height: 2
}

footer .part div{
    margin-bottom: 20px;
    font-size: 20px;
    color: #585858;
    
}

.up .icon{
    right: 5%;
    bottom: 10%;
    position: fixed;
    margin-bottom: 50px;
    color: #999;
    cursor: pointer;
    font-size: 60px
}
#myBtn {
  display: none;
  z-index: 99;
  outline: none;
}


/*********************END FOOTER*********************/

/*********************START COPYRIGHT*********************/

.copyright{
    text-align: center;   
}

.copyright p{
    padding-top: 30px;
    font-size: 18px;
    color: #999;
}

.services .copyright p{width: 100%}

.copyright hr{
    width: 85%;
}

/*********************END COPYRIGHT*********************/


/*********************START SERVICES PAGE*********************/

.services p, .point_services p{
    width: 80%
}

.point_services .pic_one_services span{
    background-image: url(../images/services_sprite.png);
    background-position: 60px 0px;
    height: 54px;
}
.point_services .pic_two_services span{
    background-image: url(../images/services_sprite.png);
    background-position: 117px 0px;
    height: 54px;
}
.point_services .pic_three_services span{
    background-image: url(../images/services_sprite.png);
    background-position: 177px 0px;
    height: 54px;
}
.point_services .pic_four_services span{
    background-image: url(../images/services_sprite.png);
    background-position: 0.5px 2px;
    height: 54px;
}

.academic, .staff, .programs, .task, .way{
    margin-top: 100px;
    margin-bottom: 50px
}
.academic ul{
    margin-top: 40px
}
.academic ul li{
    color: #585858;
    margin: 10px -18px
}
/*********************END SERVICES PAGE*********************/


/*#365a76
#1e6ab8
#e1c653
#585858*/


/*********************START @MEDIA*********************/

@media (max-width:767px){
    #menu li, footer h2{display: block}
    .display, .navbar,.up, hr{display: none}
    #burger-menu {
        cursor: pointer;
        height: 30px;
        width: 30px;
        margin-right: 20px;
        overflow: visible;
        position: relative;
        z-index:2;
        float: left;
    }
    #burger-menu span,
    #burger-menu span:before,
    #burger-menu span:after {
      background: #fff;
      display: block;
      height: 4px;
      opacity: 1;
      position: absolute;
      transition: 0.3s ease-in-out;
    }
    #burger-menu span:before,
    #burger-menu span:after {
      content: "";
        color: #585858!important
    }
    #burger-menu span {
      right: 0px;
      top: 13px;
      width: 27px;
    }
    #burger-menu span:before {
      left: 0px;
      top: -10px;
      width: 16px;
    }
    #burger-menu span:after {
      left: 0px;
      top: 10px;
      width: 20px;
    }

    #burger-menu.close span {
      transform: rotate(-45deg);
      top: 13px;
      width: 27px;
        
    }
    #burger-menu.close span:before {
      top: 0px;
      transform: rotate(90deg);
      width: 27px;
    }
    #burger-menu.close span:after {
      top: 0px;
      left:0;
      transform: rotate(90deg);
      opacity:0;
      width:0;
    }

    #menu{
      z-index:1;
      min-width:100%;
      min-height:100%;
      position: fixed;
      top:0;
      height:0;
      left: 0;
      visibility: hidden;
      opacity: 0;
      text-align:center;
      padding-top:20px;
      transition: all 0.3s ease-in-out;
    }

    #menu.overlay{
      visibility: visible;
      opacity: 1;
      padding-top:100px;
      background:rgba(255,255,255,0.9);
    }

    #menu li{
      list-style:none;
        width: 100%;
    }
    #menu a{
      color:#585858;
      display:block;
      font-size: 32px;
      margin-bottom:50px;
      text-decoration:none;
    }
    #menu a:hover{
        color: #365a76;
        font-weight: 600
    }
    header, .header-services{padding: 20px}
    .social a{
        cursor: pointer; 
        float: left;
        width: 30%
    }
    #menu .icon{color: #999;}
    #menu .social{
        bottom: 0;
        position: fixed;
        width: 100%;
        margin-bottom: 50px;
    }
    .about .container, .services .container{width: 85%}
    .h2{font-size: 20px}
    .logo{font-size: 10px}
    h2:after{
        width: 10%;
        height: 3px;
    }
    .row{margin: 0}
    .about, .services, .point, .row, .point_services, .online, footer .part{float: none; width: 100%}
    h2{font-size: 25px;margin-bottom: 0 }
    p{font-size: 12px;margin-top: 25px}
    .mission, .intro{
        margin-top: 120px;
        margin-bottom: 40px
    }
    .point span, .point_services span{
        margin-right: 5px;
        margin-top: 10px; 
    }
    .point p{
        width: 75%;
        padding-right: 30px;
        margin-top: 11px
    }
    .point .pic_three span{
        margin-top: 30px
    }
    .point .pic_two span, .point .pic_one span{
        margin-top: 0px;
    }
    .task p{
        width: 100%
    }
    .way p{
        margin: 0
    }
    .online{
        margin-bottom: 0px
    }
    footer{
        margin-top: 30px;
        border-top: 0;
    }

    footer .part{
        width: 100%;
    }
    footer .part .icon{
        width: 10%;
        margin-top: 10px;
        font-size: 25px;
        margin-right: 20px
    }
    .part span, footer .part h3{font-size: 15px}
    .copyright{border-top: 1px solid #eee}
    .copyright p{
        padding-top: 0px;
        font-size: 13px;
        margin: 10px 0
    }
    
    .services p{
        width: 100%
    }
    .point_services p{
        width: 70%
    }
    .point_services span{margin-top: 50px}
    .point_services .pic_two_services span{margin-top: 70px}
    .point_services .pic_three_services span{margin-top: 40px}
    .academic, .staff, .programs, .task, .way{
        margin-top: 40px;
        margin-bottom: 40px;
    }
      
}

@media (min-width:768px) and (max-width:1200px){
    header, .header-services{padding: 20px}
    .about .container, .services .container{
        width: 85%;
        margin: 0 auto;
        padding-left: 50px;
        top: 0;
    }
    .h2{font-size: 20px}
    .logo{font-size: 10px}
    h2:after{
        width: 10%;
        height: 3px;
        margin-top: 10px
    }
    .navbar {width: 20%}
    .navbar ul li{
        font-size: 18px
    }
    .social{margin-bottom: 20px}
    .social a .icon{font-size: 18px;padding: 8px!important;}
    
    .row{margin: 0}
    .about, .services, .point, .point_services, {float: none; width: 100%}
    h2{font-size: 25px;margin-bottom: 0 }
    p{font-size: 14px;margin-top: 25px; }
    .mission, .intro{
        margin-top: 120px;
        margin-bottom: 40px
    }
    .point span, .point_services span{
        margin-right: 10px;
        margin-top: 10px; 
    }
    .point p{
        margin-top: 11px
    }
   
    .task p{
        width: 85%
    }
    .way h2{margin-top: 100px}
    .way p{
        margin: 20px 0
    }
    .online{
        margin-bottom: 0px
    }
    
    footer .container{padding-top: 20px}
    footer .part .icon{
        width: 10%;
        margin-top: 10px;
        font-size: 25px;
        margin-right: 20px
    }
    .part span, footer .part h3{font-size: 15px}
    
    .copyright{border-top: 1px solid #eee}
    .copyright p{
        padding-top: 0px;
        font-size: 13px;
        margin: 10px 0
    }
    
    .services p{
        width: 90%
    }
    .point_services p{
        width: 70%
    }
    .point_services span{margin-top: 50px}
    .point_services .pic_two_services span{margin-top: 70px}
    .point_services .pic_three_services span{margin-top: 40px}
    .academic, .staff, .programs, .task, .way{
        margin-top: 100px;
    }
    .copyright hr{display: none}
    .up .icon{font-size: 30px}
}
@media (min-width:992px){
    
}
@media (min-width:1200px){
    
}


